.report-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5); /* Nền mờ */
    z-index: 9999; /* Đảm bảo modal xuất hiện trên tất cả các phần tử khác */
  }
  
  .report-modal .report-card {
    z-index: 10000; /* Đảm bảo card của report không bị che khuất */
  }
  